

<h1>编辑职位</h1>
<hr></hr>

<%= form_for(:position, :url => {:action => 'update', :id => @position.id}) do |f|%>
    
    <%= render(:partial => "form", :locals => {:f => f, :position => @position}) %>

    <br>
    <%= submit_tag "更新", class:"btn btn-primary" %>

<% end %>