/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
    padding-top: 70px;
}

#stages {
  margin-bottom:0px;
}


.page-header {
    margin-top: 10px;
}

.sidebar-nav-fixed {
     position:fixed;

     width:20%;
 }

.short_input {
    width: 160px;
}

.phase_block {
    margin-top: 50px;
    margin-bottom: 50px;
}

.inline-select {
    width: 23%;
}

.inline-wide-select {
    width: 45%;
}

.round-select-form {
  margin-bottom: 15px;
}

.fc-content  { cursor: pointer; cursor: hand; }